---
---

@import "{{ site.theme }}";

$tw-light-blue: #30BDF8;
$tw-navy: #2B2E3C;
$tw-spicy: #F75757;
$tw-bright: #FFFA73;
$body-color: #222;

.main-content {
  h1, h2, h3, h4, h5 {
    color: $body-color;
  }
}

a {
  color: $tw-light-blue;
  text-decoration: none;
}

h1.project-name {
  font-family: Merriweather,Georgia,Times,serif;
  text-transform: capitalize;
  color: #fff;
}

section.page-header {
  background-color: #fff;
  background-image: url('/guidelines/assets/images/header-big.jpg');
  background-size: 100%;
}
